$m0a: 0 auto;

// fonts

$popreg: 'Poppins Regular';
$popbold: 'Poppins Bold';
$popmed: 'Poppins Medium';
$popsemibold: 'Poppins SemiBold';

$playdisblack: 'Playfair Display Black';
$playdisbold: 'Playfair Display Bold';